<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>This is test title one</string>
		<key>text</key>
		<string>Bacon ipsum dolor sit amet meatball officia hamburger, beef velit filet mignon doner pastrami bacon pancetta landjaeger labore aute laboris pork belly.</string>
	</dict>
	<dict>
		<key>title</key>
		<string>This is test title two</string>
		<key>text</key>
		<string>Minim exercitation ground round, jerky ham chuck ut meatloaf aute eiusmod. Biltong ea proident, bresaola aliqua tenderloin officia swine enim. Ground round doner esse cillum, ullamco pork loin leberkas shoulder flank turducken pastrami pork chop beef.</string>
	</dict>
	<dict>
		<key>title</key>
		<string>This is test title three</string>
		<key>text</key>
		<string>Prosciutto magna dolor drumstick. Incididunt enim aliquip, porchetta ribeye non pariatur in tongue rump. Aliquip ullamco turducken salami deserunt ut non dolor.</string>
	</dict>
	<dict>
		<key>title</key>
		<string>This is test title four</string>
		<key>text</key>
		<string>Exercitation pancetta sed, do pork tempor chicken enim pork chop.</string>
	</dict>
	<dict>
		<key>title</key>
		<string>This is test title five</string>
		<key>text</key>
		<string>Ball tip pig short ribs, ut anim commodo velit beef ribs shankle short loin aliquip ground round jerky deserunt incididunt.</string>
	</dict>
	<dict>
		<key>title</key>
		<string>This is test title six</string>
		<key>text</key>
		<string>Ullamco dolore pork loin flank tongue tail cupidatat salami. Filet mignon cupidatat eiusmod, fatback pork loin esse ea. Shankle landjaeger bacon prosciutto ea flank fugiat nulla. Cupidatat laborum cillum occaecat, nulla esse corned beef.</string>
	</dict>
	<dict>
		<key>title</key>
		<string>This is test title seven</string>
		<key>text</key>
		<string>Cow short loin biltong venison meatball. Hamburger landjaeger tongue, nulla pork loin occaecat laboris short ribs porchetta in cow jerky sirloin consequat.</string>
	</dict>
	<dict>
		<key>title</key>
		<string>This is test title eight</string>
		<key>text</key>
		<string>Dolor landjaeger spare ribs non fugiat jowl pork, cillum leberkas reprehenderit proident pariatur commodo chicken.</string>
	</dict>
	<dict>
		<key>title</key>
		<string>This is test title nine</string>
		<key>text</key>
		<string>Pancetta doner aliquip boudin tenderloin, kevin nisi short ribs brisket short loin excepteur. Nisi excepteur exercitation, consectetur pork belly incididunt meatloaf bacon hamburger spare ribs cupidatat. Pork est et esse, deserunt ullamco nostrud id filet mignon salami ut. Nulla pig in exercitation dolor tenderloin, aliqua brisket.</string>
	</dict>
	<dict>
		<key>title</key>
		<string>This is test title ten</string>
		<key>text</key>
		<string>Short ribs quis pancetta tongue ut sunt meatloaf cow chuck beef magna. Pork chop officia ut pancetta.</string>
	</dict>
</array>
</plist>
